-- Run this in the Supabase SQL Editor
-- First, create a temporary table to hold the JSON data
CREATE TEMP TABLE temp_assessment (data jsonb);

-- Insert the JSON data into the temporary table

-- Insert or update the assessment in the ai_tools table
INSERT INTO ai_tools (
  name, vendor, license_type, total_score, risk_level, data_storage_score, training_usage_score, 
  access_controls_score, compliance_score, vendor_transparency_score, summary_and_recommendation, 
  confidence, primary_use_case, data_classification, category, assessed_by, 
  breakdown, details, azure_permissions, recommendations, sources, detailed_assessment, created_at, updated_at
)
SELECT 
  data->>'name',
  data->>'vendor',
  data->>'license_type',
  (data->>'total_score')::bigint,
  (data->>'risk_level')::text,
  (data->>'data_storage_score')::bigint,
  (data->>'training_usage_score')::bigint,
  (data->>'access_controls_score')::bigint,
  (data->>'compliance_score')::bigint,
  (data->>'vendor_transparency_score')::bigint,
  data->>'summary_and_recommendation',
  (data->>'confidence')::double precision,
  data->>'primary_use_case',
  data->>'data_classification',
  data->>'category',
  (data->>'assessed_by')::text,
  (data->'breakdown')::jsonb,
  (data->'details')::jsonb,
  (data->'azure_permissions')::jsonb,
  (data->'recommendations')::jsonb,
  (data->'sources')::jsonb,
  (data->'detailed_assessment')::jsonb,
  NOW(),
  NOW()
FROM temp_assessment
ON CONFLICT (name) 
DO UPDATE SET
  vendor = EXCLUDED.vendor,
  license_type = EXCLUDED.license_type,
  total_score = EXCLUDED.total_score,
  risk_level = EXCLUDED.risk_level,
  data_storage_score = EXCLUDED.data_storage_score,
  training_usage_score = EXCLUDED.training_usage_score,
  access_controls_score = EXCLUDED.access_controls_score,
  compliance_score = EXCLUDED.compliance_score,
  vendor_transparency_score = EXCLUDED.vendor_transparency_score,
  summary_and_recommendation = EXCLUDED.summary_and_recommendation,
  confidence = EXCLUDED.confidence,
  primary_use_case = EXCLUDED.primary_use_case,
  data_classification = EXCLUDED.data_classification,
  category = EXCLUDED.category,
  assessed_by = EXCLUDED.assessed_by,
  breakdown = EXCLUDED.breakdown,
  details = EXCLUDED.details,
  azure_permissions = EXCLUDED.azure_permissions,
  recommendations = EXCLUDED.recommendations,
  sources = EXCLUDED.sources,
  detailed_assessment = EXCLUDED.detailed_assessment,
  updated_at = NOW();

-- Clean up
DROP TABLE temp_assessment;
